[Unit]
Description= Initialize USB0
#After=multi-user.target init-relays.service

[Service]
Type=oneshot
ExecStart=stty -F /dev/ttyUSB0 115200 cs8 -cstopb -parenb

[Install]
WantedBy=multi-user.target
